html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.com-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.com-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.com-chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.title {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}
.title .el-select {
  min-width: 200px;
  width: calc(30vh);
}
.title .el-select .el-input .el-input__inner {
  border: 0;
  font-size: 4vh;
  background-color: transparent;
  color: #fff;
}
.title .el-select .el-input .el-select__caret {
  font-size: 3vh;
}
.title .el-select .el-scrollbar,
.title .el-select .el-select-dropdown {
  border: 0;
  background-color: transparent !important;
  color: #fff !important;
}
.title .el-select .el-scrollbar__wrap,
.title .el-select .el-select-dropdown__list {
  background-color: #0b1a37;
  color: #fff !important;
}
.title .el-select .el-select-dropdown__item.hover,
.title .el-select .el-select-dropdown__item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.title .el-select .el-popper .popper__arrow {
  display: none;
}
